body {
  padding: 20px;
  font-size: 20px;
  background: #ffb6c1;
}

.country-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    text-align: center;
  }
}

.search-input {
  width: 586px;
  height: 42px;
  margin: auto;
  border: 2px solid black;
  border-radius: 25px;
  outline: black;
  padding-left: 15px;
}

.country-wrapper {
  display: flex;
}

.card-container-country,
.card-container {
  margin: auto;
}

.country-title {
  text-align: center;
}
.country-profile-list {
  margin-right: 15px;
  list-style: none;
  line-height: 1.5;
}
.country-profile-item:not(:last-child) {
  padding-bottom: 5px;
}

.country-language-list {
  padding-left: 25px;
  margin-top: 5px;
}
.country-profile-item__title {
  font-weight: 700;
}
